@model LaManuAuto.Models.Tutorial

@{
    ViewData["Title"] = "Details";
}

<div class="mb-1">
    @if (Model.Tags != null)
    {
        @foreach (var tag in @Model.Tags)
        {
            <span class="badge bg-primary rounded-pill">
                @tag.Fullname
            </span>
        }
    }
</div>
<h1 class="border-bottom border-primary pb-2 mb-4">@Model.Title</h1>

<p>@Model.Description</p>

@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <div class="mb-4">
        <iframe width="560" height="315" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}


<div class="text-muted mb-3 small">
    Créé le : @Model.CreationDate <br />
    Modifié le : @Model.ModificationDate
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
