@model LaManuAuto.Models.Tutorial

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<p>@Model.Description</p>

@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <div class="mb-4">
        <iframe width="560" height="315" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}

@if (Model.Tags != null) {
    <div class="text-muted mb-3">
        Tags : @foreach (var tag in @Model.Tags) {
            @tag.Fullname;
        }
    </div>
}

<div class="text-muted mb-3">
    Date de création : @Model.CreationDate <br />
    Date de modification : @Model.ModificationDate
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
