@model  ICollection<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles Page";
}
<div>
    <h1 class="border-bottom border-primary pb-2 mb-4">Roles page</h1>
    @if (@Model != null && @Model.Any())
    {
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Normalized name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var role in Model)
                {
                    <tr>
                        <th scope="row">@role.Id</th>
                        <td>@role.Name</td>
                        <td>@role.NormalizedName</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@role.Id">Profile</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else{
        <p>There's no registered role !</p>
    }
</div>