@model IEnumerable<LaManuAuto.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<h1 class="border-bottom border-primary pb-2 mb-4">Gestion des catégories</h1>

<div class="mb-4">
    <a class="text-decoration-none btn btn-primary" asp-action="Create">
        <img src="/images/svg/plus-circle.svg" alt="" />
        Ajouter
    </a>
</div>

<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shortname)
            </th>
            <th>
                Catégorie
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shortname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
