@{
    ViewData["Title"] = "Users";
}
@using LaManuAuto.Models;
@model  ICollection<LaManuAutoUserRoleView>

<div class="text-center">
    <h1 class="display-4">Users</h1>
    @if ( @Model != null && @Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.User.FirstName</td>
                <td>@user.User.LastName</td>
                <td>@user.User.Email</td>
                <td>@String.Join(", ", @user.Roles.ToArray())</td>
                <td>
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.User.Id">Edit</a>
                </td>
            </tr>
            }
            </tbody>
        </table>
    }
</div>

<div class="text-center">

</div>